@import url(../font/cream/cream.css);
@import url(../font/jinxuan/jinxuan.css);


html {
  font-size: 16px;
}

body {
  background-color: rgba(253,241,217,1);
}

section {
  margin: 50vh 50vw;
  position: fixed;
  transform: translate(-50%, -50%);
}

article#bingo {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

article#bingo .canvas {
  /* border: .1rem solid #000; */
  /* overflow: hidden; */
}

article#bingo .canvas .grids {
  display: grid;
  grid-gap: 1rem;
  grid-template: repeat(7, 1fr) / repeat(7, 1fr);
  width:  calc(4rem * 5 + 1rem * 4 + 1rem);
  height: calc(4rem * 5 + 1rem * 4 + 1rem);
  transform: translate(-4.5rem, -4.5rem);
}

article#bingo .canvas .grid {
  width:  4rem;
  height: 4rem;
  border: .25rem solid rgba(100,100,100,.8);
  border-radius: 4%;
  mix-blend-mode: lighten;
}

article#bingo .canvas .grid:nth-child(n+43),
article#bingo .canvas .grid:nth-child(-n+7),
article#bingo .canvas .grid:nth-child(7n+1),
article#bingo .canvas .grid:nth-child(7n+7){
  opacity: 0;
}

article#bingo .winner {
  font-family: 凝書體, 金萱;
  text-align: center;
  margin: 0 auto;
  height: 0;
  opacity: 0;
  white-space: nowrap;
  transform: translateY(-14rem);
  color: rgba(100,100,100,.8);
  text-shadow: 4px  0   2px rgba(253,241,217,1), -4px  0   2px rgba(253,241,217,1),
               0    4px 2px rgba(253,241,217,1),  0   -4px 2px rgba(253,241,217,1);
               2px  2px 2px rgba(253,241,217,1), -2px -2px 2px rgba(253,241,217,1),
               2px -2px 2px rgba(253,241,217,1), -2px  2px 2px rgba(253,241,217,1);
}

article#bingo .winner p#name {
  font-size: 8em;
  margin: -.7em 0 -.2em;
}

article#bingo .winner p#id {
  font-size: 3em;
  font-weight: bold;
}

// vim: set ts=2 sw=2 et:
