html:before {
  background-image: linear-gradient(to top, #fdcbf1 1%, #e6dee9 100%);
  opacity: .5;
}

#winners .label {
  margin: .2rem;
}

#winners .label .at.icon {
  margin-right: .1rem;
}

/* vim: set ts=2 sw=2 et: */
