body {
  background-color: rgba(253,241,217,1);
}

#canvas {
  width:  calc(4rem * 5 + 1rem * 4 + 1.5rem);
  height: calc(4rem * 5 + 1rem * 4 + 1.5rem);
  margin: 0 auto;
  /* border: 1px solid black  /1* test alignment *1/ */
}

#canvas .cubes {
  margin: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template: repeat(7, 1fr) / repeat(7, 1fr);
  transform: translate(-4.25rem, -4.25rem);
}

#canvas .cube {
  width:  4rem;
  height: 4rem;
  border: .25rem solid rgba(34,36,38,.5);
  border-radius: 4%;
  mix-blend-mode: lignten;
}

#canvas .cube:nth-child(25):hover {
  cursor: pointer;
}

#canvas .cube:nth-child(n+43),
#canvas .cube:nth-child(-n+7),
#canvas .cube:nth-child(7n+1),
#canvas .cube:nth-child(7n+7) {
  opacity: 0;
}

#winner {
  opacity: 0;
  height: 0;  /* avoid interfering middle-aligned */
  transform: translateY(6rem);
  white-space: nowrap;
  z-index: 1;
  text-shadow:
     4px  0px 2px rgba(253,241,217,1),
    -4px  0px 2px rgba(253,241,217,1),
     0px  4px 2px rgba(253,241,217,1),
     0px -4px 2px rgba(253,241,217,1);
     2px  2px 2px rgba(253,241,217,1),
    -2px -2px 2px rgba(253,241,217,1),
     2px -2px 2px rgba(253,241,217,1),
    -2px  2px 2px rgba(253,241,217,1);
}

#winner .header {
  font-family: 凝書體, 金萱;
  font-size: 8em;
  font-weight: normal;
}

#winner .sub.header {
  font-family: 凝書體, 金萱;
  font-size: .4em;
  font-weight: bold;
  margin-top: -0.2em;
}

// vim: set ts=2 sw=2 et:
