@import url(../font/genseki/genseki.css);
@import url(../font/genwan/genwan.css);
@import url(../font/linux-libertine/linux-libertine.css);
@import url(../font/wqy/wqy.css);

html:before {
  content: '';
  width:  100vw;
  height: 100vh;
  position: absolute;
}

html {
  font-size: 16px;
}

body {
  font-family: 文泉驛微米黑, sans-serif;
}

body > .ui.grid.container {
  height: 100vh;
}

/* vim: set ts=2 sw=2 et: */
