html {
  font-size: 16px;
}

body {
  background-color: #2F3655;
}

body > .container {
  height: 100vh;
}

.column {
}

.column {
  /* max-width: 450px; */
  /* margin: 0 20px; */
}


/* vim: set ts=2 sw=2 et: */
