@import url(../font/cream/cream.css);
@import url(../font/jinxuan/jinxuan.css);

html {
  font-size: 16px;
  font-family: 文泉驛微米黑, sans-serif;
}

html:before {
  content: '';
  width:  100vw;
  height: 100vh;
  position: absolute;
}

body > .ui.grid.container {
  height: 100vh;
}

/* vim: set ts=2 sw=2 et: */
