@font-face {
    font-family: 源石黑體;
    font-weight: 300;
    font-style: normal;
    src: url('GenSekiGothicJP-Light.ttf') format('truetype');
}

@font-face {
    font-family: 源石黑體;
    font-weight: 400;
    font-style: normal;
    src: url('GenSekiGothicJP-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 源石黑體;
    font-weight: 600;
    font-style: normal;
    src: url('GenSekiGothicJP-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 源石黑體;
    font-weight: 700;
    font-style: normal;
    src: url('GenSekiGothicJP-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 源石黑體;
    font-weight: 900;
    font-style: normal;
    src: url('GenSekiGothicJP-Heavy.ttf') format('truetype');
}
